::root {
    --dark-success-1: #2999a6;
    --dark-success-2: #2ea6a6;
}

.Logo  {
    width: 55px;
}
.carousel-item img {
max-height: 100vh;
}
body {
    font-family: 'ABeeZee', sans-serif;
    color: white;
}

.card-img-top {
    max-height: 150 px;
}
